body{

    margin: 0;
    padding: 0;

}

.logo{

    width: 110px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.botoesul{
    position: absolute;
    top: 12%;
}

.botaomenu{
    font-family: verdana;
    font-size: 20px;
    font-style: white;
    font-weight: bold;
    text-shadow: 0 1px 0 #666;
    box-shadow: inset 0 1px 1px #fff, 0 2px 3px #666;
    color: white;
    padding: 16px 20px;
    border-radius: 6px;
    background-color: rgba(70, 219, 169, 0.671);
    width: 100%;
}

li{
    margin: 4%;
}

ul {
    list-style-type: none;
    margin-left: 35%;
    }