body{

    margin: 0;
    padding: 0;
    
}

button::-moz-focus-inner {
    border: 0;
}

.infoHeading {
    margin-top: 40px;
    margin-bottom: 60px;
}

.infoTitle {
    display: inline-block;
    margin-left: 70px;
}

.infoicon{
    position: absolute;
    margin-top: 5px;
    width: 60px;
}

.pinfo1{
    text-align: justify;
    margin-top: 20px;
    font-size: 20px;
}

@media only screen and (min-width: 600px) {

body{

    overflow: hidden;
        
}

.mobile{

    display: none;


}

.desktop{

    width: 100vw;
    height: 100vh;
    background-color: rgb(36, 36, 36);
    display: grid;
    grid-template-areas: "header header"
                         "aside tabs"  ;
    grid-template-columns: 25% 75%;
    grid-template-rows: 60px auto;

}

/* HEADER */

.header1{
    height: 60px;
    background-color: rgb(43, 72, 73);
    grid-area: header;
    display: inline-block;
}

.icon {
    position: absolute;
    width: 50px;
    margin-top: 5px;
    margin-left: 15px;
}

.title {
    font-size: 25px;
    margin-left: 78px;
    margin-top: 18px;
    margin-right: 0;
    text-shadow: 0 2px 2px #666;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000;
    font-family: Verdana;
    color: white;
    
}

#username1 {
    text-align: right;
    color: tomato;
}

/* BOTOES E TABS PRINCIPAIS */

.aside1{

    height: 100%;
    background-color: gray;
    grid-area: aside;

}

.tabutton{
    width: 100%;
    height: 16.67%;
    background-color: rgb(78, 78, 78);
    border: none;
    color: white;
    position: relative;
    font-size: 17px;
    text-align: center;
    padding-left: 50px;
    outline: 0;
    cursor: pointer;
}

.fa{
    font-size:30px;
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
}

.tabs{

    width: 100%;
    height: 100%;
    grid-area: tabs;

}

.tab{
    width: 100%;
    height: 100%;

}

.tab.infos{
    color: whitesmoke;
    text-align: center;
    font-family: Verdana;
    border-right: 100px;
}


/* DIVS DE FORMATACAO */

.centralize {
    height: 100%;
    width: 20%;
}

#centraLeft {
    float: left;
}

#centraRight {
    float: right;
}

/* TABS DAS CONFIGS */

.tab.configuracoes {
    width: 100%;
    height: 100%;
}

.tab.configuracoes .configbuttons button {
    width: 33.333%;
    height: 40px;
    float: left;
    background-color: rgb(78, 78, 78);
    font-size: 15px;
    color: white;
    border: 1px solid rgb(43, 72, 73);
    margin-left: 0px;
    margin-right: 0px;
    cursor: pointer;
    outline: 0;
    
}

.tab.configuracoes .configbuttons button:hover {
    background-color: #d7d4d4;
}

.tab.configuracoes .opconfigs {
    height: 100%;
    background-color: rgb(36, 36, 36);
    color: white;
    text-align: center;
    padding-top: 105px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 22px;
    display: none;
}

/* TABS DAS STATS */

.tab.estatisticas {
    width: 100%;
    height: 100%;
}

.tab.estatisticas .statbuttons button {
    width: 50%;
    height: 40px;
    float: left;
    background-color: rgb(78, 78, 78);
    font-size: 15px;
    color: white;
    border: 2px solid rgb(43, 72, 73);
    margin-left: 0px;
    margin-right: 0px; 
    cursor: pointer;
    outline: 0;
}

.tab.estatisticas .statbuttons button:hover {
    background-color: #d7d4d4;
}

.tab.estatisticas .statconfigs {
    height: 100%;
    background-color: rgb(36, 36, 36);
    color: white;
    text-align: center;
    padding-top: 105px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 22px;
    display: none;
}

/* FORMATACAO DAS CONFIGS */

.opbutton:hover {
    background-color: rgb(65, 65, 65);
    color: white;
  }


.configSubTitle {
    color: white;
    margin-bottom: 100px;
}

.configList {
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    margin-left: 25%;
    color: white;

}

.configList li {
    margin-bottom: 50px;
}

.selectList {
    display: inline-block;
    margin-top: 15px;
    margin-left: 10px;
    padding: 5px;
    font-weight: bold;

}

.aplicar {
    width: 100px;
    font-style: bold;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}

/* SWITCHS DAS CONFIGS */

.switch {
    float: right;
    margin-right: 55%;
}

.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}

.switch input { 
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #43b480;
}

input:focus + .slider {
box-shadow: 0 0 1px #43b480;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

/* ABA FEEDBACK */
.formFeedback {
    margin-top: 50px;
    margin-left: 30px;
}

.formFeedback h3 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.textFeedback {
    padding: 6px;
}

/* MODO MOBILE */

}
@media only screen and (max-width: 600px) {

.desktop{

    display: none;

}

.mobile{

    width: 100vw;
    height: 100vh;

}

.logo{

    width: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.botoesul{

    padding: 0;
    list-style-type: none;

}

.botaomenu{
    font-family: verdana;
    font-size: 20px;
    font-style: white;
    font-weight: bold;
    text-shadow: 0 1px 0 #666;
    box-shadow: inset 0 1px 1px #fff, 0 2px 3px #666;
    color: white;
    padding: 16px 20px;
    border-radius: 6px;
    background-color: #43b480;
    width: 100%;
}



li{
    margin-bottom: 4%;
}

}