body {
    background-color: green;
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: 100%;
}

input {
    width: 500px;
    border: 2px solid #43b480;
    outline: none;
    border-radius: 4px;;
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}    

.fundo {
    background-color: green;
    opacity: 0.3;
}

.content {
    /*background-color: white;*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 65%;
    /*border: 2px solid gray;*/
}

.title {
    font-family: myFirstFont;
    src: url(https://www.dafont.com/pt/canon.font);
    font-size: 75px;
    margin-top: -20px;
    text-align: center;
}

.icon {
    display: block;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
}

.formulario {
    margin-left: 10px;
    font-size: 12px;
    font-family: Arial Verdana, Geneva, Tahoma, sans-serif;
}

.button {
    background: #43b480;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding: 8px 12px;
    border-radius: 2px;
    color: white;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.button:hover {
    background-color: #369066;
    color: white;
  }