<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SafeStats Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <div class="background2">
        <div>
            <img class="icon" src="imagens/icoon2.png" alt="B. Bergamota">
            <h1 class="titulo">SafeStats</h1>
            <h2>Pelo aumento da disponibilidade dos leitos</h2>
            <h1><strong>___________________________________</strong></h1>
        </div>
        <br>
        <div>
            <h2>Login:</h2>
        </div>
        <div>
            <input placeholder="email"></input>
        </div>
        <br>
        <div>
            <input placeholder="senha"></input>
        </div>

        <h2>
            <a class="button" href="index.html">ENTRAR</a>
        </h2>
        <h1><strong>___________________________________</strong></h1>
    </div>

</body>

</html>